<section >
    <div class="myAnchor" id="idContact"></div>
    <div class="headline">
        <div class="bar"></div>
        <h2>Contact</h2>
    </div>
    <div class="content">
        <div class="txt">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <app-mail></app-mail>
    </div>
   

</section>