<section >
    <div class="myAnchor" id="idContact"></div>
    
    <div class="headline">
        <div class="bar"></div>
        <h2>@if(data.translate){Kontakt}@else{Contact}</h2>
    </div>
    <div class="content">
        <div class="txt">
            @if(data.translate){
                <h3>Sie haben ein Problem zu lösen?</h3>
                <p>Kontaktieren sie mich über dieses Formular.<br> Ich bin daran interessiert, ihnen zuzuhören, ihre Ideen kennenzulernen und mit meiner Arbeit zu Ihren Projekten beizutragen.</p>
                <p>Sie brauchen einen Frontend-Entwickler? <b>Kontaktieren sie mich!</b></p>
            }@else{
                <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        }
            
        </div>
        <app-mail></app-mail>
    </div>
    <div class="shapeContainer">
        <img class="shape1" src="assets/img/shapes/contactShape.svg" alt="">
    </div>

</section>