@import './../../app.component.scss';

section {
  @include dFlex();
  flex-direction: column;
  position: relative;
  width: 100%;
  .myAnchor {
    display: block;
    position: absolute;
    top: -50px;
    visibility: hidden;
  }
  .headline {
    @include dFlex($g: 4px, $jc: flex-start);
    width: 100dvw;
    max-width: $maxScreenWidth;
    margin-top: 1em;
    .bar {
      width: 5dvw;
      max-width: 68px;
      border: 3px;
      height: 3px;
      background-color: rgba(255, 71, 71, 1);
      
    }
  }

  .content {
    @include dFlex();
    flex-direction: column;
    width: 90dvw;
    max-width: calc($maxScreenWidth - 136px);
    @media screen and (min-width: 900px){
      flex-direction: row;
      align-items: flex-start;
      width: 90dvw;
      justify-content: space-between;
    }
 

    .txt {
      max-width: 400px;
      margin: 0 8px;

      h3 {
        text-align: left;
        color: white;
        @media screen and (min-width: 900px){
        margin-top: 0;
        }
      }

      p {
        text-align: left;
      }
    }
    
  }


}