<section #daBubble>
    <div class="imgContainer" data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="500">
        <img src="assets/img/DABubble.png" alt="">
    </div>
    <div class="infoContainer">
        <h3>DABubble</h3>
        <p class="skillset">Angular | HTML | SCSS | Firebase</p>
        <p class="description">
            @if(data.translate){
            Ein Chat Programm, mit Slack als Vorbild.
            }@else{
            A chat program using Slack as a model.
            }</p>
        <div class="btnContainer">
            <div class="btnFrame">
                <a [class.disable]="disable" class="btnStettings testbtn" href="#" (click)="showPopup($event)"
                    target="_blank">
                    @if(data.translate){Livetest}@else{Live test}</a>
                    @if(showMessage){
                        <div class="popupContainer">
                            <div class="popupInnerContainer">
                            @if(data.translate){
                                Das Projekt ist in Arbeit.<br> Details auf GitHub.
                                }@else{
                                The project is in progress. <br>Details on GitHub.
                                }
                            </div>
                        </div>
                        }
            </div>
            <div class="btnFrame">
                <a class="btnStettings gitBtn" href="https://github.com/AlexSolms/DABubble" target="_blank">GitHub</a>
            </div>

        </div>
      
    </div>
</section>