@import './../app.component.scss';

section {
    @include dFlex($jc: space-between);
    position: fixed;
    margin: 0 25px 0 0;
    height: 109px;
    width: 100vw;
    top: 0;

    span {
        margin-left: 25px;
    }

}