<section>
        <div class="content">
                <div>
                     <a href="#idIAm"><h2>Alex</h2></a>        
                </div>

                <div class="menuDesktop">
                       
                        @if(data.translate){
                        <a href="#idAboutMe">Über mich</a>
                        <a href="#idMySkills">Fähigkeiten</a>
                        <a href="#idPortfolio">Portfolio</a>
                        }@else {
                        <a href="#idAboutMe">About me</a>
                        <a href="#idMySkills">Skills</a>
                        <a href="#idPortfolio">Portfolio</a>
                        }
                        <div class="translateSwitchContainer">
                                <div class="translateSwitch"> 
                                        <span 
                                        (click)="data.translate ? null : data.fnTranslate()"
                                        [ngClass]="{'inactive': data.translate, 'active': !data.translate}"
                                        >DE</span>
                                        |
                                        <span 
                                        (click)="!data.translate ? null : data.fnTranslate()"
                                        [ngClass]="{'active': data.translate, 'inactive': !data.translate}"
                                        >EN</span>
                                </div>
                        </div>
                </div>
                <app-menu></app-menu>
        </div>
</section>