@import './../app.component.scss';

section {
    @include dFlex();
    position: fixed;
    margin: 0 32px 0 0;
    height: 109px;
    width: 100%;
    top: 0;
    background-color: rgba(20, 29, 47, 1);
    z-index: 99;


    .content {
        @include dFlex($jc: space-between);
        width: 90dvw;
        max-width: $maxScreenWidth;



        @media screen and (min-width: 690px) {
            app-menu {
                display: none;
            }

            .menuDesktop {
                @include dFlex($jc: space-between, $g: 24px);
            }
        }
    }

}

.menuDesktop {  
    display: none;

    a {
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        position: relative;
        color: white;
        text-decoration: none;
        transition: 0.7s;
    }

    a:hover {
        color: rgb(136, 38, 38);
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(136, 38, 38);
        transform: scaleX(0);
        transition: transform 0.6s ease;
    }

    a:hover::before {
        transform: scaleX(1);
    }
   

    
} 
.translateSwitchContainer{
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        cursor: default;
        color: white;
        .active{
            transition: 0.3s;
            color: rgba(255, 255, 255, 0.26);
            cursor: pointer;
            &:hover {
                color: rgb(136, 38, 38);  
            }
        }
    }