@import './../app.component.scss';

section {
    @include dFlex($jc: space-between);
    position: fixed;
    margin: 0 25px 0 0;
    height: 109px;
    width: 100vw;
    top: 0;
background-color: rgba(20, 29, 47, 1) ;
z-index: 99;
    span {
        margin-left: 25px;
    }

}