<section>
        <div class="content">
                <div>
                        <h2>Alex</h2>
                </div>

                <div class="menuDesktop">
                        <div class="flagcon">
                                <img src="{{data.imgPath}}" alt="" (click)="data.fnTranslate()">
                        </div>
                        <a href="#idAboutMe">About me</a>
                        <a href="#idMySkills">Skills</a>
                        <a href="#idPortfolio">Portfolio</a>
                </div>
                <app-menu></app-menu>
        </div>
</section>