<section>
    <div #footerbar class="impBar"></div>
    <div class="contentOuterContainer">
        <div class="content">
            <h2>Alex</h2>
            <div class="socialCon">
            <p>&copy; Alexander Solms 2024</p>
            <div class="imgSocials">
                <a href="https://github.com/AlexSolms" target="_blank"><img src="assets/img/icons/githubIcon.svg" alt=""></a>
                <a href="mailto:mail@alexander-solms.de"><img src="assets/img/icons/mailIcon.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/alexander-solms/" target="_blank"><img src="assets/img/icons/linkedInIcon.svg" alt=""></a>
            </div>
        </div>
        </div>
        <div class="impCon">
            @if (data.translate) {
            <a href="imprint">Impressum</a>
        }@else {
            <a href="imprint">Imprint</a>
        }
        </div>
    </div>

     <!--  -->
</section>