@import './../app.component.scss';
section{
    @include dFlex();
    width: 100%; 
    flex-direction: column;
    p{
      text-align: center;
    }
    
 /*    .background{
    width: 916.58px;
height: 1078.6px;
top: -26px;
left: -1.27px;

    background: radial-gradient(102.53% 81.55% at 46.74% 3.94%, #1A2743 0.37%, #27334B 13.54%, #141D2F 71.91%);
} */
}