@import './../app.component.scss';

section {
  position: relative;
  z-index: 15;
  @include dFlex();

  flex-direction: column;

  p {
    text-align: left;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;


  }

  .myAnchor {
    display: block;
    position: relative;
    top: -109px;
    visibility: hidden;
  }

  .content {
    @include dFlex();
    flex-direction: column;
    width: 90dvw;

    .puzzleTxtCon {
      @include dFlex($g: 16px);

      .puzzleCon {
        @include dFlex();
      }

    }
    .bulbTxtCon {
      @include dFlex($g: 16px);

      .bulbCon {
        @include dFlex();
      }

    }

  }




}