<section>
    <div class="myAnchor" id="idAboutMe"></div>


    <div class="content">
        <div class="headtxtCon">
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt delectus porro aperiam, impedit
                exercitationem reprehenderit accusamus aliquid ea? Officia doloremque odit, rem dolor quo blanditiis
                quia libero placeat non. Blanditiis?</p>
        </div>
        <div class="puzzleTxtCon">
            <div class="puzzleCon">
                <img src="assets/img/icons/puzzle.svg" alt="">
            </div>
            <p>Puzzle ipsum dolor, sit amet consectetur adipisicing elit. Iste error magni illo a? Iste atque nemo sunt.
                Ab asperiores veniam quos, officiis inventore, molestias odio unde, rem ad pariatur harum!</p>
        </div>
        <div class="bulbTxtCon">
            <div class="bulbCon">
<img src="assets/img/icons/bulb.svg" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem qui saepe quaerat fuga ratione omnis,
                aliquid earum id quam doloremque, aperiam aspernatur tenetur suscipit! Amet iste ea quisquam enim?</p>
        </div>
    </div>
    <!-- <div class="background">
      
    </div> -->
</section>