@import './../app.component.scss';

section {
  @include dFlex();
  margin-top: 200px;
  width: 100%;
  height: auto;
  flex-direction: column;




  .imgContainer {

   // position: relative; // Hier die Änderung
    width: 100%;
    
    //height: 400px;

    img {
      position: relative;
      height: auto;
      max-height: 500px;
      max-width: fit-content;
      width: 100%;
      left: 50%; // Die Mitte der .imgContainer
      transform: translateX(-50%); // Verschiebung um die Hälfte der eigenen Breite nach links
    }
    .itsMe{
      position: absolute;
    }

    p {
      text-align: center;
    }
  }

}