<section>

  <div class="iam">
    <div class="imgContainer">
      <img class="svgBackground iamImg" src="assets/img/shapes/iamShape.svg" alt="">
      <img class="itsMe iamImg" src="assets/img/itsMe.png" alt="">
      <img class="shape3" src="assets/img/shapes/iamShape3.png" alt="">
      <img class="shape2" src="assets/img/shapes/iamShape2.png" alt="">
    </div>


    <div class="iamTxt">
      <div class="rotate font">I am</div>
      <div>
        <p class="name">Alexander Solms</p>
        <p class="title font">FRONTEND DEVELOPER</p>
      </div>
    </div>
    <button>Lets Talk</button>


  </div>
  <p>iam works!</p>
</section>