@import './../app.component.scss';


.iam {
  .shape3 {
    z-index: 10;
    position: absolute;
    height: 400px;
    width: 100dvw;
    max-width: 100%;
    left: 0;
    bottom: -180px;

    @media screen and (min-width: 517px) {
      bottom: -170px;
    }

    @media screen and (min-width: 900px) {
      bottom: -260px;
    }

    @media screen and (min-width: 1020px) {
      display: none;
    }
  }

  .shape2 {
    display: none;
    z-index: 10;
    position: absolute;
    height: 700px;
    width: 100dvw;
    max-width: 100%;
    left: 0;
    bottom: -360px;

    @media screen and (min-width: 1020px) {
      display: block;
    }
  }
  .shape4 {
    position: absolute;
    right: -230px;
    height: 400px;
    bottom: -400px;
    width: auto;
    z-index: 15;
  }

  @include dFlex();
  position: relative;
  margin-top: 109px;
  width: 100dvw;
  max-width: 100%;
  height: auto;
  max-height: 705px;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .imgContainer {
    position: relative;
    width: 100%;
    @include dFlex();

    .iamImg {
      height: auto;
      max-height: 505px;
      max-width: fit-content;
      width: 100%;
    }

    .svgBackground {
      filter: blur(28px);
      padding-top: 79px;
    }

    .itsMe {
      @include dFlex();
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 9;

    }

    p {
      text-align: center;
    }

  }

  .moveContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;


    .iamTxt {
      position: relative;
      margin: -55px 0 0 0; 
      display: flex;
      z-index: 15;

      @media screen and (min-width: 517px) {
        margin: -75px 0 0 0;
        min-width: 50dvw;
        justify-content: center;
      }

      .nameTitle {
        @include dFlex($ai: normal);
        flex-direction: column;
      }

      @media screen and (min-width: 1600px) {
        gap: 25px;
      }


      p {
        margin: 0;
        margin-block: 0;
      }

      .name {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (min-width: 800px) {
          font-size: 42px;
          line-height: 50px;
        }

        @media screen and (min-width: 1200px) {
          font-size: 50px;
          line-height: 58px;
        }

        @media screen and (min-width: 1600px) {
          font-size: 76px;
          line-height: 76px;
        }
      }

      .font {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (min-width: 800px) {
          font-size: 32px;
          line-height: 32px;
        }

        @media screen and (min-width: 1200px) {
          font-size: 38px;
          line-height: 38px;
        }

        @media screen and (min-width: 1600px) {
          font-size: 58px;
          line-height: 58px;
        }
      }

      .title {
        color: #9747FF;
      }

      .rotate {
        transform: rotate(-90deg);
        margin-right: -35px;

        @media screen and (min-width: 1600px) {
          margin-right: -96px;

        }
      }
    }

    .btnFrame {
      position: relative;
      z-index: 16;
      width: 120px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;

      .letsTalkButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        width: 93px;
        height: 49px;
        background-color: rgba(250, 121, 2, 1);
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        text-align: center;
        transition: 0.3s;

        &:hover {
          width: 113px;
          height: 59px;
          background-color: rgba(255, 71, 71, 1);
          font-size: 18px;
        }
      }

    }

  }

}

.socialContainer {
  @include dFlex($jc: space-between);
  margin-top: 16px;
  flex-direction: row;
  width: 100%;

  position: relative;
  z-index: 17;

  @media screen and (min-width: 870px) {
    max-width: none;
    // position: static;
    // justify-content: flex-start;
    max-width: 146px;
  }
}

.bar {
  width: 55px;
  height: 3px;
  border: 3px;
  background-color: rgba(255, 71, 71, 1);
}

.socialIcons {
  @include dFlex($g: 42px);
  width: 30px;
  height: 30px;

  @media screen and (min-width: 870px) {
    position: relative;
    left: 200px
  }
}

.mail {
  width: 55px;
  height: auto;
  min-height: 1px;
  @include dFlex();

  a {
    font-size: 23px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: none;

    @media screen and (min-width: 870px) {
      display: block;
      position: relative;
      left: 500px
    }
  }
}