<section>
    <div class="imgContainer">
        <img src="assets/img/CRMSmall.png" alt="">
    </div>
    <div class="infoContainer">
        <h3>Simple CRM</h3>
        <p class="skillset">Angular | Firebase</p>
        <p class="description">A very Simple Customer Relationship Management system working with CRUD functionality.</p>
        <div class="btnContainer">
            <div class="btnFrame">
                <a class="btnStettings testbtn" href="">Live test</a>
            </div>
            <div class="btnFrame">
                <a class="btnStettings gitBtn" href="">GitHub</a>
            </div>

        </div>
    </div>
</section>
