@import './../app.component.scss';

section {
  @include dFlex();
  flex-direction: column;
  width: 100%;

  .headline {
    @include dFlex($g: 4px, $jc: flex-start);
    width: 100dvw;
    margin-top: 1em;
    .bar {
      width: 5dvw;
      border: 3px;
      height: 3px;
      background-color: rgba(255, 71, 71, 1);
    }
  }

  .content {
    @include dFlex();
    flex-direction: column;
    width: 90dvw;

    .txt {
      max-width: 473px;
      margin: 0 8px;

      h3 {
        text-align: left;
        color: white;
      }

      p {
        text-align: left;
      }
    }
  }


}