@import './../../app.component.scss';

$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: rgba(255, 255, 255, 1);

section{
  @include dFlex($g:16px);

}

.burger-menu {
  position: relative;
  width: $burgerWidth;
  height: $burgerWidth;
  cursor: pointer;

  .burger-container {
    position: relative;


    .burger-inner {
      position: absolute;
      width: $burgerWidth - 2 * $burgerBarHeight;
      left: 0px;
      top: 11px;
      border: $burgerBarHeight solid $burgerBarColor;
      transition: border-color .2s ease-in .2s;

      &::before {
        position: absolute;
        content: '';
        top: -6px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top .2s ease-in .3s, transform ease-in .2s;
      }

      &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top .2s ease-in .3s, transform ease-in .2s;
      }
    }
  }

  &.active .burger-container .burger-inner {
    border-color: transparent;
    transition: border-color ease-in .1s;
  }

  &.active .burger-container .burger-inner::before {
    top: -$burgerBarHeight;
    transform: rotate(-45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
  }

  &.active .burger-container .burger-inner::after {
    top: -$burgerBarHeight;
    transform: rotate(45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
  }
}

.closedMenu {
  background: rgba(20, 29, 47, 0.8);

  position: absolute;
  width: 100%;
  height: 100dvh;
  margin-top: -16px;
  top: 90px;

  left: 100dvw;
  transition: left 0.5s;
  display: flex;
  justify-content: space-around; 

  .menuLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    margin-top: 181px;

    a {
      cursor: pointer;
      font-family: Poppins;
      font-size: 23px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: none;
      color: white;

    }
  }

}

.d-none {
  display: none;
}

.openMenu {
  left: 0;
  transition: left 0.5s;
}

.translateSwitchContainer{
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  cursor: default;
  color: white;
  .active{
      transition: 0.3s;
      color: rgba(255, 255, 255, 0.26);
      cursor: pointer;
      &:hover {
          color: rgb(136, 38, 38);  
      }
  }
}