<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" id="idContactForm">
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idName"></label>
            <input class="fieldStyle" #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" id="idName"
                placeholder="Your name please" required
                [ngClass]="{'invalid':!name.valid && name.touched,'valid':name.valid}" minlength="3" maxlength="30">
            @if (!name.valid && name.touched){
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyMessage" class="emptySign">
            }
            @else if (name.valid && name.touched || name.valid){
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledMessage" class="filledSign">
            }
        </div>
        <div class="requiredTxt">
            @if (!name.valid && name.touched){
            <span>Please add a name with at least 3 characters!</span>
            }
        </div>
    </div>
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idEmail"></label>
            <input class="fieldStyle" #mail="ngModel" [(ngModel)]="contactData.email" type="email" name="email"
                id="idEmail" required [ngClass]="{'invalid':!mail.valid && mail.touched,'valid':mail.valid}"
                placeholder="Your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            @if (!mail.valid && mail.touched){
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyMessage" class="emptySign">
            }
            @else if (mail.valid && mail.touched || mail.valid){
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledMessage" class="filledSign">
            }
        </div>

        <div class="requiredTxt">
            @if (!mail.valid && mail.touched){
            <span>Format for mail: name&#64;domain.xx</span>
            }
        </div>

    </div>
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idMessage"></label>
            <textarea class="fieldStyle" #message="ngModel" [(ngModel)]="contactData.message" name="message"
                id="idMessage" placeholder="Your message" required
                [ngClass]="{'invalid':!message.valid && message.touched,'valid':message.valid}"></textarea>
            @if (!message.valid && message.touched){
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyMessage" class="emptySign">
            }
            @else if (message.valid && message.touched || message.valid){
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledMessage" class="filledSign">
            }
        </div>

        <div class="requiredTxt">
            @if (!message.valid && message.touched){
            <span>Your message is empty</span>
            }
        </div>

    </div>
    <div class="chkBoxCon">
        <label for="idChkBox" class="chkBox">
            <input [(ngModel)]="checkboxState" type="checkbox" name="chkbox" id="idChkBox" required>
            <span class="customChkBox"></span>
        </label>
        <span>
            I've read the <a href="">privacy policy</a> and agree to the processing of my data as
            outlined.</span>
    </div>
    @if (!contactForm.valid || !checkboxState) {
    <div class="btnFrame">
        <button class="btnStettings disabledBtn" type="submit" disabled>Send message :&#41;</button>
    </div>
    }@else if(contactForm.valid && checkboxState){
    <div class="btnFrame">
        <button class="btnStettings" type="submit">Send message :&#41;</button>
    </div>
    }

</form>