@import './../../../app.component.scss';

form {
  @include dFlex();
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  max-width: 617px;

  .chkBoxCon {
    @include dFlex($g: 4px, $ai: flex-start);
    font-size: 14px;
    line-height: 17px;
    padding-left: 8px;
    margin-top: 16px;

    a {
      color: rgba(151, 71, 255, 1);
    }

    .chkBox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.customChkBox:after {
          display: block;

        }

        &:checked+.customChkBox {
          border-color: rgba(112, 230, 28, 1);
        }
      }

      .customChkBox {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 4px;
        border: 1px solid rgba(250, 121, 2, 1);
        background-color: rgba(20, 29, 47, 1);
        transition: 0.3s;

        &:hover {
          border-radius: 50%;

        }

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: 1px solid rgba(112, 230, 28, 1);
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  .inputFieldsCon {
    .requiredTxt {
      width: 100%;
      height: 17px;
      font-size: 14px;
      line-height: 17px;
      color: rgba(230, 28, 64, 1);
      padding: 4px 0 4px 16px;
    }

    width: 100%;

    .inputField {
      position: relative;
      @include dFlex($g: 4px, $jc: space-between);
      width: 100%;

      .fieldStyle {
        background-color: rgba(20, 29, 47, 1);
        flex: 1;
        color: white;
        font-size: 16px;
        line-height: 17px;
        font-family: Poppins;
        border-radius: 10px;
        border: 1px solid rgba(255, 71, 71, 1);

        &::placeholder {
          color: white;
        }

        &:hover {
          outline: 1px solid rgba(255, 71, 71, 1);
        }

        &:focus-visible {
          outline: 1px solid rgba(255, 71, 71, 1);
        }
      }

      input {
        height: 40px;
        padding-left: 16px;
        padding-right: 50px;
      }

      textarea {
        height: 298px;
        padding: 16px 50px 16px 16px;
      }

      .valid {
        border-color: rgba(112, 230, 28, 1);

        &:hover {
          outline: 1px solid rgba(112, 230, 28, 1);
        }

        &:focus-visible {
          outline: 1px solid rgba(112, 230, 28, 1);
        }

      }

      .invalid {
        border-color: rgba(255, 71, 71, 1);

        &:hover {
          outline: 1px solid rgba(255, 71, 71, 1);
        }

        &:focus-visible {
          outline: 1px solid rgba(255, 71, 71, 1);
        }

      }

      .filledSign {
        top: 8px;
        right: 8px;
        position: absolute;
        display: block;
      }

      .emptySign {
        top: 8px;
        right: 8px;
        position: absolute;
        display: block;
      }
    }
  }

  .btnFrame {
    width: 210px;
    margin: 1em 0 2em 0;

    .disabledBtn {
      cursor: default !important;
      background-color: rgb(138, 136, 136) !important;

      &:hover {
        width: 175px !important;
        height: 45px !important;
        font-size: 90% !important;
        background-color: rgb(138, 136, 136) !important;
      }
    }

    .btnStettings {
      width: 195px;
      color: white;

      &:hover {
        width: 205px;
      }
    }
  }
}