<section>
  <div class="myAnchor" id="idIAm"></div>
  <div class="iam">
    <img class="shape3" src="assets/img/shapes/iamShape3.png" alt="">
    <img class="shape2" src="assets/img/shapes/iamShape2.png" alt="">
    <img class="shape4" src="assets/img/shapes/aboutMeShape.svg" alt="">
    <div class="iAmContent">
      <div class="imgContainer">
        <img class="svgBackground iamImg" src="assets/img/shapes/iamShape.svg" alt="">
        <div class="itsMe "><img class="iamImg" src="assets/img/itsMe.png" alt="" data-aos="zoom-in-up"  data-aos-duration="1000"></div>
      </div>

      <div class="moveContainer">
        <div class="iamTxt">
          <div class="iAmCon" *ngIf="!data.translate">
            <div class="rotate font">I am</div>
          </div>
          <div class="nameTitle">
            <p class="name">Alexander Solms</p>
            <p class="title font">FRONTEND DEVELOPER</p>
          </div>
        </div>
        <div class="btnFrame zIndex">
          <a class="btnStettings" href="#idContact">@if(data.translate){Reden wir!}@else{Lets Talk}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="socialContainer">
    <div class="socialInnerContainer">
      <div class="bar"></div>
      <div class="sozialIconCon">
        <div class="socialIcons">
          <a href="https://github.com/AlexSolms" target="_blank"><img src="assets/img/icons/githubIcon.svg" alt=""></a>
          <a href="mailto:mail@alexander-solms.de"><img src="assets/img/icons/mailIcon.svg" alt=""></a>
          <a href="https://www.linkedin.com/in/alexander-solms/" target="_blank"><img
              src="assets/img/icons/linkedInIcon.svg" alt=""></a>
        </div>
        <div class="mail">
          <a href="#idContact">mail&#64;alexander-solms.de</a>
        </div>
      </div>
    </div>
  </div>

</section>