@import './../../app.component.scss';

section {
  @include dFlex($g: 24px);
  flex-direction: column;
  width: 100%;

}

.iam {

  @media screen and (min-width: 1020px) {
    width: 100vw;
  }

  .shape3 {
    z-index: 10;
    position: absolute;
    height: 410px;
    width: 100dvw;
    max-width: $maxScreenWidth;
    max-width: 100%;
    left: 0;
    bottom: -180px;


    @media screen and (min-width: 800px) {
      bottom: -155px;
    }

    @media screen and (min-width: 900px) {
      bottom: -280px;
    }

    @media screen and (min-width: 1020px) {
      display: none;
    }
  }

  .shape2 {
    display: none;
    z-index: 10;
    position: absolute;
    height: 680px;
    width: 110dvw;
    bottom: -360px;

    @media screen and (min-width: 1020px) {
      display: block;
    }
  }

  .shape4 {
    position: absolute;
    right: -230px;
    height: 400px;
    bottom: -400px;
    width: auto;
    z-index: 15;
  }

  @include dFlex();
  position: relative;
  margin-top: 130px;
  width: 100dvw;
  max-width: $maxScreenWidth;
  height: auto;
  max-height: 705px;
  flex-direction: column;

  .iAmContent {
    width: 100%;
    max-width: $maxScreenWidth;
    @include dFlex();
    flex-direction: column;

    @media screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .imgContainer {
      position: relative;
      width: 100%;
      @include dFlex();

      @media screen and (min-width: 1080px) {
        min-width: fit-content;
      }

      .iamImg {
        height: auto;
        max-height: 505px;
        max-width: fit-content;
        width: 100%;

        @media screen and (min-width: 1080px) {
          min-height: 505px;
          min-width: fit-content;
        }
      }

      .svgBackground {
        filter: blur(28px);
        padding-top: 79px;
      }

      .itsMe {
        @include dFlex();
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9;

      }

      p {
        text-align: center;
      }

    }

    .moveContainer {

      @include dFlex($g: 8px);
      flex-direction: column;
      height: 100%;
      margin: -60px 0 0 0;
      padding-right: 5vw;
      @media screen and (min-width: 1700px) {
        min-width: calc(100% - 416px);
      }

      .iamTxt {
        position: relative;
        display: flex;
        z-index: 15;

        @media screen and (min-width: 800px) {
          width: max-content;
          
        } 

        .nameTitle {
          @include dFlex($ai: normal);
          flex-direction: column;
        }

        @media screen and (min-width: 1600px) {
          gap: 25px;
        }

        p {
          margin: 0;
          margin-block: 0;
        }

        .name {
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          letter-spacing: 0em;
          text-align: left;

          @media screen and (min-width: 800px) {
            font-size: 42px;
            line-height: 50px;
          }

          @media screen and (min-width: 1200px) {
            font-size: 50px;
            line-height: 58px;
          }

          @media screen and (min-width: 1600px) {
            font-size: 76px;
            line-height: 76px;
          }
        }

        .font {
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

          @media screen and (min-width: 800px) {
            font-size: 32px;
            line-height: 32px;
          }

          @media screen and (min-width: 1200px) {
            font-size: 38px;
            line-height: 38px;
          }

          @media screen and (min-width: 1600px) {
            font-size: 58px;
            line-height: 58px;
          }
        }

        .title {
          color: #ff4747;;
        }

        .iAmCon {
          @include dFlex();
          margin-bottom: -6px;
          margin-right: -10px;

          @media screen and (min-width: 1600px) {
            margin-right: -50px;
          }

          .rotate {
            transform: rotate(-90deg);
          }
        }
      }

      .btnFrame {
        z-index: 16;

        @media screen and (min-width: 450px) {
          width: 200px;
          height: 70px;

          .btnStettings {
            width: 170px;
            height: 65px;
            font-size: 20px;

            &:hover {
              font-size: 22px;
            }
          }

        }

        @media screen and (min-width: 800px) {
          width: 230px;
          height: 70px;

          .btnStettings {
            width: 220px;
            height: 65px;
            font-size: 20px;

            &:hover {
              font-size: 24px;
            }
          }

        }
      }


    }

  }

}

.socialContainer {
  width: 100vw;
  @include dFlex();

  .socialInnerContainer {
    @include dFlex();
    margin-top: 16px;
    flex-direction: row;
    width: 100%;
    max-width: $maxScreenWidth;
    position: relative;
    z-index: 17;

    @media screen and (min-width: 870px) {
      @include dFlex($jc: flex-start);

    }

    .bar {
      position: absolute;
      left: 0;
      width: 10vw;
      max-width: 150px;
      height: 3px;
      border: 3px;
      background-color: rgba(255, 71, 71, 1);

    }

    .sozialIconCon {
      width: 100%;
      @include dFlex();

      @media screen and (min-width: 870px) {
        gap: 42px;
        margin-left: calc(10vw + 42px);
        justify-content: flex-start;
      }

      .socialIcons {
        @include dFlex($g: 42px);
        img{
          width: 30px;
          height: 30px;
          transition: 0.3s;
          &:hover{
            transform: scale(1.15);
          }
        }
      }

      .mail {
        @include dFlex();

        a {

          font-size: 23px;
          font-weight: 400;
          color: white;
          text-decoration: none;
          display: none;
         
          @media screen and (min-width: 870px) {
            display: block;
            
          }
        }
      }
    }
  }
}