<section>
  <div class="myAnchor" id="idIAm"></div>
  <div class="iam">
    <img class="shape3" src="assets/img/shapes/iamShape3.png" alt="">
    <img class="shape2" src="assets/img/shapes/iamShape2.png" alt="">
    <img class="shape4" src="assets/img/shapes/aboutMeShape.svg" alt="">
    <div class="iAmContent">
      <div class="imgContainer">
        <img class="svgBackground iamImg" src="assets/img/shapes/iamShape.svg" alt="">
        <div class="itsMe "><img class="iamImg" src="assets/img/itsMe.png" alt=""></div>
        <!-- <div class="shapes"> -->

        <!-- </div> -->
      </div>

      <div class="moveContainer">
        <div class="iamTxt">
          <div class="iAmCon">
            <div class="rotate font">I am</div>
          </div>
          <div class="nameTitle">
            <p class="name">Alexander Solms</p>
            <p class="title font">FRONTEND DEVELOPER</p>
          </div>
        </div>
        <div class="btnFrame zIndex">
          <a class="letsTalkButton btnStettings" href="#idContact">Lets Talk</a>
        </div>
      </div>
    </div>
  </div>
  <div class="socialContainer">
    <div class="socialInnerContainer">
      <div class="bar"></div>
      <div class="socialIcons">
        <a href=""><img src="assets/img/icons/githubIcon.svg" alt=""></a>
        <a href=""><img src="assets/img/icons/mailIcon.svg" alt=""></a>
        <a href=""><img src="assets/img/icons/linkedInIcon.svg" alt=""></a>
      </div>
      <div class="mail">
        <a href="#idContact">send_a_mail&#64;tutanota.com</a>
      </div>
    </div>
  </div>
  <!-- <p>iam works!</p> -->
</section>