<section>
    <div class="imgContainer">
        <img src="assets/img/pokeSmall.png" alt="">
    </div>
    <div class="infoContainer">
        <h3>Pokedex</h3>
        <p class="skillset">JavaScript | HTML | CSS | Api</p>
        <p class="description">Based on the PokéAPI a simple library that provides and catalogues pokemon information. </p>
        <div class="btnContainer">
            <div class="btnFrame">
                <a class="btnStettings testbtn" href="https://pokedex.alexander-solms.de/index.html" target="_blank">Live test</a>
            </div>
            <div class="btnFrame">
                <a class="btnStettings gitBtn" href="https://github.com/AlexSolms/Pokedex" target="_blank">GitHub</a>
            </div>

        </div>
    </div>
</section>