@import './../../app.component.scss';

section {
  position: relative;
  z-index: 15;
  @include dFlex();

  @media screen and (min-width: 900px) {
    width: 100%;
  }

  p {
    text-align: left;
  }

  .myAnchor {
    display: block;
    position: absolute;
    top: -100px;
    visibility: hidden;
  }

  .contentCon {
    @media screen and (min-width: 900px) {
      width: 100vw;
      max-width: $maxScreenWidth;
      @include dFlex($ai: flex-end, $g: 5vw);
      
    }

    .txtContent {
      @include dFlex($ai: flex-start);
      flex-direction: column;
      width: 90dvw;
      @media screen and (min-width: 900px) {
        padding-left: 5vw;
        
      }
      @media screen and (min-width: 1440px) {
        padding-left: 68px;
      }


      .puzzleTxtCon {
        @include dFlex($g: 16px);

        .puzzleCon {
          @include dFlex();
        }
      }

      .bulbTxtCon {
        @include dFlex($g: 16px);

        .bulbCon {
          @include dFlex();
        }
      }
    }

    .imgContent {
      display: none;
      //width: 453px;

      @media screen and (min-width: 900px) {
        @include dFlex();
      }

      .imgCircle {
      img {
          width: 400px;
          border: 4px solid rgba(250, 121, 2, 1);
          border-radius: 50%;
        }
      }
      
    }
    .bar{
      width: 5vw;
      border: 2px solid rgba(250, 121, 2, 1);
    }
  }
}