<section>
    <div class="myAnchor" id="idAboutMe"></div>

<div class="contentCon">
    <div class="txtContent">
        <div class="headtxtCon">
            <h2>About me</h2>
            <p>I am a passionate Front-End Developer based in Leipzig. Over the past six months, I've dedicated myself
                to honing my skills and am eager to contribute my acquired knowledge within a collaborative team
                environment.</p>
        </div>
        <div class="puzzleTxtCon">
            <div class="puzzleCon">
                <img src="assets/img/icons/puzzle.svg" alt="">
            </div>
            <p>Continuous skill improvement is my top priority. Actively seeking new challenges, I aim to deepen my
                expertise in HTML, SCSS, Angular, Material Design, Bootstrap, and Firebase.</p>
        </div>
        <div class="bulbTxtCon">
            <div class="bulbCon">
                <img src="assets/img/icons/bulb.svg" alt="">
            </div>
            <p>With a solid grasp of HTML, SCSS, and hands-on experience in Angular, Material Design, Bootstrap, and
                Firebase, I am equipped to craft innovative Front-End solutions. My goal is to make a meaningful impact
                by integrating my skills seamlessly into a team.</p>
        </div>
    </div>

    <div class="imgContent">
        <div class="imgCircle">
            <img src="assets/img/me_face.png" alt="">
        </div>
      <div class="bar">

        </div>  
    </div>
    
</div>
</section>