@import './../../app.component.scss';

section {
  position: relative;
  z-index: 15;
  @include dFlex();

  flex-direction: column;

  p {
    text-align: left;
  }

  .myAnchor {
    display: block;
    position: relative;
    top: -109px;
    visibility: hidden;
  }

  .content {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    width: 90dvw;
    max-width: $maxScreenWidth;
    
    .puzzleTxtCon {
      @include dFlex($g: 16px);

      .puzzleCon {
        @include dFlex();
      }
    }
    .bulbTxtCon {
      @include dFlex($g: 16px);

      .bulbCon {
        @include dFlex();
      }
    }
  }
}