<section id="idMySkills">
    <div class="content">
        <div class="hedlineCon">
            <div class="headline">
                <h2>Skills</h2>
                <div class="bar"></div>
            </div>
            <p class="skillTxt">I have grown my frontend developments skills that have allowed me to create different real projects.</p>
            <div class="btnFrame getInTouchButton2">
                <a class="btnStettings" href="#idContact">Lets Talk</a>
            </div>
        </div>

        <div class="iconCon">
            <div class="innerIconCon item-1">
                <img src="assets/img/icons/javaScriptIconMobile.svg" alt="">
                <span>JavaSripct</span>
            </div>
            <div class="innerIconCon item-2">
                <img src="assets/img/icons/angularIconMobile.svg" alt="">
                <span>Angular</span>
            </div>
            <div class="innerIconCon item-3">
                <img src="assets/img/icons/typescriptIconMobile.svg" alt="">
                <span>Typescript</span>
            </div>
            <div class="innerIconCon item-4">
                <img src="assets/img/icons/htmIconMobile.svg" alt="">
                <span>HTML</span>
            </div>
            <div class="innerIconCon item-5">
                <img src="assets/img/icons/gitIconMobile.svg" alt="">
                <span>GIT</span>
            </div>
            <div class="innerIconCon item-6">
                <img src="assets/img/icons/firebaseIconMobile.svg" alt="">
                <span>Firebase</span>
            </div>
            <div class="innerIconCon item-7">
                <img src="assets/img/icons/cssIconMobile.svg" alt="">
                <span>CSS</span>
            </div>
            <div class="innerIconCon item-8">
                <img src="assets/img/icons/scrumIconMobile.svg" alt="">
                <span>Scrum</span>
            </div>
            <div class="innerIconCon item-9">
                <img src="assets/img/icons/restAPIIconMobile.svg" alt="">
                <span>Rest-Api</span>
            </div>
            <div class="innerIconCon item-10">
                <img src="assets/img/icons/materialDesignIconMobile.svg" alt="">
                <span>Material design</span>
            </div>
        </div>
        <div class="center">
            <div class="btnFrame getInTouchButton1">
                <a class="btnStettings" href="#idContact">Lets Talk</a>
            </div>
        </div>
    </div>
    <img class="skillBgImg" src="assets/img/shapes/mySkillsShape.svg" alt="">
</section>