
@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
  }
   
  @mixin size($h: auto, $hm: 100vh, $w: 100%, $wm: fit-content) {
    height: $h;
    max-height: $hm;
    width: $w;
    max-width: $wm;
  }
  
  .allComponents{
    overflow-x: hidden;
  }