@mixin dFlex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin size($h: auto, $hm: 100vh, $w: 100%, $wm: fit-content) {
  height: $h;
  max-height: $hm;
  width: $w;
  max-width: $wm;
}

$maxScreenWidth: 1800px;

a {
  text-decoration: none;
  color: white;
}

p {

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}

h2 {

  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;


}

h3 {

  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 71, 71, 1);

}

.btnFrame {
  position: relative;

  width: 120px;
  height: 65px;
  @include dFlex();

  .btnStettings {
    @include dFlex();
    cursor: pointer;
    margin-top: 16px;
    width: 93px;
    height: 49px;
    background-color: rgba(250, 121, 2, 1);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.3s;

    &:hover {
      width: 113px;
      height: 59px;
      background-color: rgba(255, 71, 71, 1);
      font-size: 18px;
    }

  }
}

.center {
  @include dFlex();
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(20, 29, 47, 1) inset !important;
  -webkit-text-fill-color: white !important;
}