@import './../../app.component.scss';

section {
  @include dFlex();
  // flex-direction: column;
  width: 100%;
  // position: relative;

  .content {
    @include dFlex();
    flex-direction: column;
    position: relative;
    max-width: $maxScreenWidth;

    @media screen and (min-width: 1050px) {
      justify-content: space-between;
      flex-direction: row-reverse;
      //width: 90dvw;
      width: 100%;
      padding-left: 5dvw;
    }
  }

  .headlineOuterCon {
    @media screen and (min-width: 1050px) {
      display: block;
      
    }
    .headlineCon {
      @media screen and (min-width: 1050px) {
        @include dFlex($jc: flex-end);
        
      }
      .headline {
        @include dFlex($jc: flex-end, $g: 8px);
        width: 100dvw;
         @media screen and (min-width: 1050px) {
          @include dFlex($g: 8px);
          width: auto;
        } 

        //max-width: $maxScreenWidth;
        .bar {
          width: 5vw;
          height: 3px;
          border: 3px;
          background-color: rgba(255, 71, 71, 1);
          @media screen and (min-width: 1050px) {
            
            width: 10dvw;
          } 
        }
      }
    }

    .skillTxtCon {
      width: 100%;
      @include dFlex();

      //max-width: $maxScreenWidth;
      .skillTxtInnerCon {
        width: 90dvw;
        @media screen and (min-width: 1050px) {
          width: auto;
          
        }
        .skillTxt {

          text-align: right;
          margin-top: -16px;
          margin-bottom: 48px;
        }

      }

      .getInTouchButton2 {
        display: none;
        width: 222px;
        height: 65px;

        a {
          width: 200px;
          height: 58px;

          &:hover {

            width: 220px;
            height: 63px;

          }
        }

      }

    }
  }

  .iconCon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    row-gap: 41px;
    flex: 1;

    .innerIconCon {
      @include dFlex($g: 8px);
      flex-direction: column;
    }

    .img {
      height: 45px;
      width: 45px;
    }

    span {

      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;

    }

    .item-1 {
      grid-area: 1/1;
    }

    .item-2 {
      grid-area: 1/2;
    }

    .item-3 {
      grid-area: 1/3;
    }

    .item-4 {
      grid-area: 1/4;
    }

    .item-5 {
      grid-area: 2/1;
    }

    .item-6 {
      grid-area: 2/2;
    }

    .item-7 {
      grid-area: 2/3;
    }

    .item-8 {
      grid-area: 3/1;
    }

    .item-9 {
      grid-area: 3/2;
    }

    .item-10 {
      grid-area: 4/1;
    }

  }

  .getInTouchButton1 {
    width: 175px;
    height: 55px;

    a {
      width: 158px;
      height: 49px;

      &:hover {

        width: 173px;
        height: 53px;

      }
    }
  }

  .skillBgImg {

    position: absolute;
    width: 410px;
    height: 600px;
    z-index: -1;
    left: -283px;
    bottom: -307px;
  }
}