@import './../app.component.scss';

.allComponents {
  overflow-x: hidden;
  position: relative;
  width: 100%;

  .positionAb {
    position: absolute;
    bottom: 40px;
  }

}

.positionSt {

  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
}

.upBtn {

  left: 90vw;
  z-index: 98;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.336);
  font-size: 32px;
  font-weight: 200;
  @include dFlex();
  padding-top: 2px;
  color: rgba(255, 255, 255, 0.336);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border-color: rgba(250, 121, 2, 1);
    color: rgba(250, 121, 2, 1);
  }
}