<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" id="idContactForm">
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idName"></label>
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" id="idName" placeholder="Your name please"
                required minlength="3" maxlength="30">
                
            <!-- <div class="signPlaceholder"> -->
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledName" class="filledSign">
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyName" class="emptySign">
            <!-- </div> -->
        </div>
        <div class="requiredTxt">     
            @if (!name.valid && name.touched){ 
            <span>You havn't add a name with at least 3 characters!</span>
            {{test(false, "Name")}}
            }
            @else if (name.valid && name.touched){ 
                {{test(true, "Name")}}
            }    
        </div>
    </div>
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idEmail"></label>
            <input #mail="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="idEmail" required
                placeholder="Your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <!-- <div class="signPlaceholder"> -->
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledEmail" class="filledSign">
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyEmail" class="emptySign">
            <!-- </div> -->
        </div>

        <div class="requiredTxt">
            @if (!mail.valid && mail.touched){
            <span>Your mail is empty</span>
            {{test(false, "Email")}}
            }
            @else if (mail.valid  && mail.touched){ 
                {{test(true, "Email")}}
            }
        </div>

    </div>
    <div class="inputFieldsCon">
        <div class="inputField">
            <label for="idMessage"></label>
            <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="idMessage"
                placeholder="Your message" required></textarea>
            <!-- <div class="signPlaceholder"> -->
            <img src="assets/img/icons/filledSign.svg" alt="filled" id="idFilledMessage" class="filledSign">
            <img src="assets/img/icons/warningSign.svg" alt="empty" id="idEmptyMessage" class="emptySign">
            <!-- </div> -->
        </div>

        <div class="requiredTxt">
            @if (!message.valid && message.touched){
            <span>Your message is empty</span>
            {{test(false, "Message")}}
            }
            @else if (message.valid  && message.touched){ 
                {{test(true, "Message")}}
            }
        </div>

    </div>
    <div class="chkBoxCon">
        <label for="idChkBox" class="chkBox">
            <input [(ngModel)]="checkboxState"   type="checkbox" name="chkbox" id="idChkBox" required>
            <span class="customChkBox"></span>
        </label>
        <span>
            I've read the <a href="">privacy policy</a> and agree to the processing of my data as
            outlined.</span>
    </div>
    @if (!contactForm.valid || !checkboxState) {
        <div class="btnFrame">
            <button class="btnStettings disabledBtn" type="submit" disabled>Send message :&#41;</button>
        </div>
    }@else if(contactForm.valid && checkboxState){
        <div class="btnFrame">
            <button class="btnStettings" type="submit" >Send message :&#41;</button>
        </div>
    }
    
</form>