<section>
    <div class="imgContainer">
        <img src="assets/img/elPolloSmall.png" alt="">
    </div>
    <div class="infoContainer">
        <h3>El Pollo Loco</h3>
        <p class="skillset">HTML | CSS | JavaScript</p>
        <p class="description">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen. </p>
        <div class="btnContainer">
            <div class="btnFrame">
                <a class="btnStettings testbtn" href="">Live test</a>
            </div>
            <div class="btnFrame">
                <a class="btnStettings gitBtn" href="">GitHub</a>
            </div>

        </div>
    </div>
</section>
