@import './../app.component.scss';


section {
    margin-top: 109px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
    font-weight: 200;
    min-height: Calc(100vh - 270px);

    .content {
        @include dFlex();
        flex-direction: column;

        .address {
            width: 90dvw;
            max-width: $maxScreenWidth;
            text-align: left;
            line-height: 24px;
        }

        .leagalNotice {
            width: 90dvw;
            max-width: $maxScreenWidth;
            line-height: 16px;
        }
        h3{
            text-align: left;
        }
    }
    a {
        font-size: 16px;
        line-height: 16px;
        position: relative;
        color: white;
        text-decoration: none;
        transition: 0.7s;
    }

    a:hover {
        color: rgb(148, 110, 110);
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(136, 38, 38);
        transform: scaleX(0);
        transition: transform 0.6s ease;
    }

    a:hover::before {
        transform: scaleX(1);
    }
}