<section>
    <div class="content">
        
        
            <div class="address"><h3 class="subtitle">Imprint</h3>
                Alexander Solms<br>
                Lößniger Straße 15<br>
                04275 Leipzig<br>
                Phone: 015679 234861<br>
                Email: <a class="link" href='mailto:mail@alexander-solms.de'>mail&#64;alexander-solms.de</a>
            </div>
        
        <div class="leagalNotice">
            <p>
            <h3 class="subtitle">Disclaimer:</h3>
            
            <h4 class="subtitle-table">Liability for Content</h4>
            <br>
            The contents of our pages have been created with the utmost care. However, we cannot guarantee the
            accuracy,
            completeness, and timeliness of the contents. As a service provider, we are responsible for our own
            content on these pages
            according to general laws, pursuant to § 7(1) of the German Telemedia Act (TMG). According to §§ 8
            to 10 TMG, we are
            not obligated as a service provider to monitor transmitted or stored third-party information or to
            investigate circumstances
            that indicate illegal activity. Obligations to remove or block the use of information under general
            laws remain unaffected.
            However, liability in this regard is only possible from the time of knowledge of a concrete
            infringement. If we become
            aware of any such legal violations, we will remove these contents immediately.
            <br><br>
            <h4 class="subtitle-table">Copyright</h4>
            <br>
            The contents and works created by the site operators on these pages are subject to German copyright
            law.
            The reproduction, editing, distribution, and any kind of exploitation outside the limits of
            copyright
            require the written consent of the respective author or creator. Downloads and copies of this page
            are only
            permitted for private, non-commercial use. Insofar as the content on this page was not created by
            the
            operator, the copyrights of third parties are respected. In particular, third-party content is
            identified
            as such. Should you nevertheless become aware of a copyright infringement, please let us know. If we
            become aware of legal violations, we will remove such content immediately.
            <br><br>
            <h4 class="subtitle-table">Data Protection</h4>
            <br>
            The use of our website is usually possible without providing personal data. As far as personal data
            (e.g.
            name, address, or email addresses) is collected on our pages, this is always done on a voluntary
            basis,
            to the extent possible. This data will not be passed on to third parties without your express
            consent.
            <br>
            We would like to point out that data transmission over the Internet (e.g. communication by email)
            may
            have security vulnerabilities. A complete protection of data against access by third parties is not
            possible.
            <br>
            The use of contact data published within the scope of the imprint obligation by third parties for
            the
            purpose of sending unsolicited advertising and information materials is hereby expressly objected
            to. The
            operators of the pages expressly reserve the right to take legal action in the event of the
            unsolicited
            sending of advertising information, such as spam emails.
            <br><br>

            Imprint generated with the <a class="link" href="https://www.impressum-generator.de" target="_blank">Imprint
                Generator</a> from
            <a class="link" href="https://www.kanzlei-hasselbach.de/" target="_blank">Kanzlei Hasselbach, Lawyers for Labor Law
                and Family Law</a>
        </div>
    </div>
</section>