<section>
    <div class="content">

        @if(data.translate){
        <div class="address">
            <h3 class="subtitle">Impressum</h3>
            Alexander Solms<br>
            Lößniger Straße 15<br>
            04275 Leipzig<br>
            Tel: 015679 234861<br>
            Email: <a class="link" href='mailto:mail@alexander-solms.de'>mail&#64;alexander-solms.de</a>
        </div>

        <div class="leagalNotice">
            <p>
            <h3 class="subtitle">Haftungsausschluss:</h3>

            <h4 class="subtitle-table">Haftung für Inhalte</h4>
            <br>
            Der Inhalt unserer Seiten wurde mit größter Sorgfalt erstellt. Wir können jedoch nicht für die Richtigkeit,
            Vollständigkeit und Aktualität der Inhalte garantieren. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 des
            Telemediengesetzes (TMG) für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
            fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
            hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
            Gesetzen bleiben hiervon unberührt. Eine Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
            konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
            Inhalte umgehend entfernen.
            <br><br>
            <h4 class="subtitle-table">Urheberrechte</h4>
            <br>
            Die Inhalte und Werke, die von den Betreibern der Website auf diesen Seiten erstellt wurden, unterliegen dem
            deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb
            der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors oder Erstellers.
            Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit
            die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
            Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie dennoch auf eine
            Urheberrechtsverletzung aufmerksam werden, informieren Sie uns bitte. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
            <br><br>
            <h4 class="subtitle-table">Datenschutz</h4>
            <br>

            Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
            Seiten personenbezogene Daten (z. B. Name, Adresse oder E-Mail-Adressen) erhoben werden, erfolgt dies stets
            auf freiwilliger Basis, soweit möglich. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
            Dritte weitergegeben.
            <br>
            Wir möchten darauf hinweisen, dass die Datenübertragung über das Internet (z. B. die Kommunikation per
            E-Mail) Sicherheitslücken aufweisen kann. Ein vollständiger Schutz der Daten vor dem Zugriff durch Dritte
            ist nicht möglich.
            <br>
            Die Verwendung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
            Übersendung von nicht ausdrücklich angeforderten Werbe- und Informationsmaterialien wird hiermit
            ausdrücklich untersagt. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
            unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
            <br><br>

            Das Impressum wurde generiert mit <a class="link" href="https://www.impressum-generator.de"
                target="_blank">Impressum
                Generator</a> von
            <a class="link" href="https://www.kanzlei-hasselbach.de/" target="_blank">Kanzlei Hasselbach, Anwälte für
                Arbeitsrecht und Familienrecht.
            </a>
        </div>
        }@else{
        <div class="address">
            <h3 class="subtitle">Imprint</h3>
            Alexander Solms<br>
            Lößniger Straße 15<br>
            04275 Leipzig<br>
            Phone: 015679 234861<br>
            Email: <a class="link" href='mailto:mail@alexander-solms.de'>mail&#64;alexander-solms.de</a>
        </div>

        <div class="leagalNotice">
            <p>
            <h3 class="subtitle">Disclaimer:</h3>

            <h4 class="subtitle-table">Liability for Content</h4>
            <br>
            The contents of our pages have been created with the utmost care. However, we cannot guarantee the
            accuracy,
            completeness, and timeliness of the contents. As a service provider, we are responsible for our own
            content on these pages
            according to general laws, pursuant to § 7(1) of the German Telemedia Act (TMG). According to §§ 8
            to 10 TMG, we are
            not obligated as a service provider to monitor transmitted or stored third-party information or to
            investigate circumstances
            that indicate illegal activity. Obligations to remove or block the use of information under general
            laws remain unaffected.
            However, liability in this regard is only possible from the time of knowledge of a concrete
            infringement. If we become
            aware of any such legal violations, we will remove these contents immediately.
            <br><br>
            <h4 class="subtitle-table">Copyright</h4>
            <br>
            The contents and works created by the site operators on these pages are subject to German copyright
            law.
            The reproduction, editing, distribution, and any kind of exploitation outside the limits of
            copyright
            require the written consent of the respective author or creator. Downloads and copies of this page
            are only
            permitted for private, non-commercial use. Insofar as the content on this page was not created by
            the
            operator, the copyrights of third parties are respected. In particular, third-party content is
            identified
            as such. Should you nevertheless become aware of a copyright infringement, please let us know. If we
            become aware of legal violations, we will remove such content immediately.
            <br><br>
            <h4 class="subtitle-table">Data Protection</h4>
            <br>
            The use of our website is usually possible without providing personal data. As far as personal data
            (e.g.
            name, address, or email addresses) is collected on our pages, this is always done on a voluntary
            basis,
            to the extent possible. This data will not be passed on to third parties without your express
            consent.
            <br>
            We would like to point out that data transmission over the Internet (e.g. communication by email)
            may
            have security vulnerabilities. A complete protection of data against access by third parties is not
            possible.
            <br>
            The use of contact data published within the scope of the imprint obligation by third parties for
            the
            purpose of sending unsolicited advertising and information materials is hereby expressly objected
            to. The
            operators of the pages expressly reserve the right to take legal action in the event of the
            unsolicited
            sending of advertising information, such as spam emails.
            <br><br>

            Imprint generated with the <a class="link" href="https://www.impressum-generator.de" target="_blank">Imprint
                Generator</a> from
            <a class="link" href="https://www.kanzlei-hasselbach.de/" target="_blank">Kanzlei Hasselbach, Lawyers for
                Labor Law
                and Family Law</a>
        </div>
        }
    </div>
</section>