<section>
    <div class="imgContainer">
        <img src="assets/img/joinLaptopSmall.png" alt="">
    </div>
    <div class="infoContainer">
        <h3>Join</h3>
        <p class="skillset">HTML | CSS | JavaScript</p>
        <p class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
            functions, assign users and categories. </p>
        <div class="btnContainer">
            <div class="btnFrame">
                <a class="btnStettings testbtn" href="">Live test</a>
            </div>
            <div class="btnFrame">
                <a class="btnStettings gitBtn" href="">GitHub</a>
            </div>

        </div>
    </div>
</section>