@import './../../app.component.scss';

section {
  @include dFlex($g: 24px);
  flex-direction: column;
  width: 100%;
  position: relative; 
  margin-top: 1em;
  .myAnchor {
    display: block;
    position: absolute;
    top: -80px;
    visibility: hidden;
  }
  .shapes{
    @include dFlex($g: 24px);
    flex-direction: column;
    position: relative;
    max-width: $maxScreenWidth; 
  .shape1{
    position: absolute;
    left: -200px;
    height: 400px;
    bottom: 700px;
    width: auto;
    z-index: -1;
    @media screen and (min-width: 600px) {
      height: 500px;
    }
    @media screen and (min-width: 900px) {
      left: -100px;
      height: 500px;
    }
  }

  .shape2{
    position: absolute;
    right: -350px;
    height: 600px;
    bottom: -200px;
    width: auto;
    z-index: -1;
    @media screen and (min-width: 600px) {
      right: -300px;
    }
    
  }
}
  p {
    text-align: center;
    width: 90vw;
    margin-top: -16px;
  }

  .hedlineCon {
    width: 100%;
    @include dFlex();
    flex-direction: column;
    .headline {
      @include dFlex($g: 16px);
      width: 100dvw;
      max-width: $maxScreenWidth; 
      .bar {
        height: 3px;
        border: 3px;
        background-color: rgba(255, 71, 71, 1);
      }

      .left {
        @include dFlex();
        flex: 1;

        .placeholder {
          flex: 1;
        }

        .barLeft {
          width: 20%;
        }
      }

      .barRight {
        flex: 1;
      }

    }
  }
}