<section>
  <div class="myAnchor" id="idPortfolio"></div>
  <div class="hedlineCon">
    <div class="headline">
      <div class="left">
        <div class="placeholder"></div>
        <div class="barLeft bar"></div>
      </div>
      <h2>Portfolio</h2>
      <div class="barRight bar">
      </div>
    </div>
    <p>This page is a sample of my work - please feel free to try them out.</p>
  </div>
  <app-join></app-join>
  <app-el-pollo-loco></app-el-pollo-loco>
  <app-da-bubble></app-da-bubble>
  <app-pokedex></app-pokedex>
</section>