@import './../../app.component.scss';

section {
  @include dFlex($g: 24px);
  flex-direction: column;
  width: 100%;
  position: relative; 
  margin-top: 1em;

  p {
    text-align: center;
    width: 90vw;
    margin-top: -16px;
  }

  .hedlineCon {
    width: 100%;
    @include dFlex();
    flex-direction: column;
    .headline {
      @include dFlex($g: 16px);
      width: 100dvw;
      max-width: $maxScreenWidth; 
      .bar {
        height: 3px;
        border: 3px;
        background-color: rgba(255, 71, 71, 1);
      }

      .left {
        @include dFlex();
        flex: 1;

        .placeholder {
          flex: 1;
        }

        .barLeft {
          width: 20%;
        }
      }

      .barRight {
        flex: 1;
      }

    }
  }
}